.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
src/**
test/**
.runbook/**
*.jsonl
**/*.ts
**/tsconfig.json
**/tsconfig.*.json
**/*.map
**/.gitignore
**/.eslintrc*
**/node_modules/.cache/**
**/.DS_Store
*.vsix
